.feature-cards-container {
  padding: 40px;
  background: #1f1f1f;
}

.feature-card {
  text-align: center;
    position: relative;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}

.feature-card:hover {
  /* transform: translateY(-10px); */
}

.feature-icon {
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

}

.feature-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #f4b400;
}

.feature-description {
  font-size: 1rem;
  color: #b0b0b0;
  width: 68%;
}
