.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rootclass {
  background: linear-gradient(0deg, #000000 0%, #201e1e 50%, #524220 100%);
}

.topbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 786px;
  z-index: 3;
  background: radial-gradient(
    75.73% 238.9% at 100% 60.92%,
    rgba(46, 46, 46, 0) 54.75%,
    #1a1a1a 85.72%,
    #131313c7 100%
  );
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  border-bottom: 1px solid white;
}
