/* Global styles */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    180deg,
    #1f1f1f,
    #333333
  ); /* Dark gradient background */
}

/* Card Styling */
.card-container {
  background-color: #2d2d2d;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
}

.card-container:hover {
  transform: translateY(-10px);
}

.card-content {
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-description {
  font-size: 1rem;
  color: #b0b0b0; /* Lighter gray for description */
}

.footer {
  background-color: #222;
  padding: 40px;
  text-align: center;
}

.lounge-finder-container {
  text-align: center;
  /* margin: 40px 0; */
}
